body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    margin-top: 10px;
}
nav ul li:hover{
    background-color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#workouts {
    padding: 20px;
}

.workout-level {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; 
    text-align: center;
}
.workout-level:hover {
    background-color: #333;
}
.workout-level h3 {
    color: #333;
    text-align: center;
}

.workout-level p {
    color: #666;
    text-align: center;
}

.workout-level button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.workout-category {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.workout-category:hover {
    background-color: #333;
}

.workout-category h3 {
    margin: 0;
}

.hidden {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #f8f8f8;
    text-align: center;
}
main {
    margin-bottom: 50px; 
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.subscription-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}
.subscription-box:hover {
    background-color: #333;
}
#subscription-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #ecefec;
    color: #0a0a0a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

#qr-code-container {
    max-width: 200px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('logo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Adjust text color to be visible against the background */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.quicklinks li:hover {
    background-color: #45a049;

}
